option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-south-1:YOUR_ACCOUNT_ID:certificate/YOUR_CERTIFICATE_ID
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06

  # Redirect HTTP to HTTPS
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    Rules: default

  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
