container_commands:
  01_build_schema:
    command: "npm run build:schema"
    cwd: "/var/app/staging"
    leader_only: true
    ignoreErrors: false
  02_generate_prisma:
    command: "npx prisma generate"
    cwd: "/var/app/staging"
    leader_only: true
    ignoreErrors: false
  03_prisma_migrate:
    command: "npx prisma migrate deploy"
    cwd: "/var/app/staging"
    leader_only: true
    ignoreErrors: false
  04_verify_migrations:
    command: "npx prisma migrate status"
    cwd: "/var/app/staging"
    leader_only: true
    ignoreErrors: true

